.conteiner {
    width: 1190px;
    margin: 0 auto;
    height: 100px;
     
}
.header {
    background: rgba(168, 255, 111, 1);
    
    padding-top: 5px;
   
}
header a {
    color: rgba(255, 254, 200, 1);
    font-weight: bold;
}
.logo {
    margin-right: 69px;
}
.menu {
    display: flex;
}
.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
}
ul, li {
    display: block;
}
body {
    padding: 0;
    margin: 0;
    font-family: Antone;
   color:rgba(168, 255, 111, 1); 
   font-size: 16px;
}

.nav {
    display: flex;
    align-items: center;
}
.nav a {
    white-space: nowrap;
}
